<%- include("header") %> 
<h1  style="color: black; text-align: center;">This is a very good website.</h1>
<p style="text-align: center;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ad porro quidem praesentium et placeat explicabo quam, natus aspernatur
     vel recusandae reiciendis eligendi quos maiores, dicta iusto velit sit blanditiis!</p>
<%- include("footer") %> 
